<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Diego</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/styles.css" />
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Portfolio</a>
      <i class="bx bx-menu" id="menu-icon"></i>
      <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>

    <section class="home" id="home">
      <div class="home-content">
        <h3>Hello, It's Me</h3>
        <h1>Diego Lopez</h1>
        <h3>And I'm a <span>.Net Developer</span></h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam
          accusamus tenetur odit ex illo aspernatur nemo debitis!
        </p>
        <div class="social-media">
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-instagram-alt"></i></a>
          <a href="#"><i class="bx bxl-linkedin"></i></a>
          <a href="#"><i class="bx bxl-github"></i></a>
        </div>
        <a href="#" class="btn">Download CV</a>
      </div>

      <div class="home-img">
        <img src="" alt="img-profile" />
      </div>
    </section>

    <section class="about" id="about">
      <div class="about-img">
        <img src="" alt="img-profile-secondary" />
      </div>
      <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>.Net Developer</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi aliquam
          odit esse deserunt possimus cupiditate velit alias mollitia facilis?
          Alias, fuga tempore magni, labore ipsum cupiditate consequuntur vel
          consectetur maiores, quod sit! Maxime praesentium laborum veritatis
          corrupti, beatae dolore asperiores soluta sint? Voluptatum illum
          molestias sint!
        </p>
        <a href="#" class="btn">Read More</a>
      </div>
    </section>

    <section class="services" id="services">
      <h2 class="heading">Our <span>Services</span></h2>
      <div class="services-container">
        <div class="services-box">
          <i class="bx bx-code-alt"></i>
          <h3>Web Development</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
            fuga iure blanditiis, dolores provident, quasi autem recusandae
            commodi enim perferendis culpa aspernatur esse quas earum officiis
            reprehenderit. Quasi, neque ullam aliquid officiis mollitia officia
            aperiam delectus ducimus eaque sit. Dolore autem iure et recusandae
            earum nam quos.
          </p>
          <a href="#" class="btn">Read More</a>
        </div>

        <div class="services-box">
          <i class="bx bxs-paint"></i>
          <h3>Frontend Development</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
            fuga iure blanditiis, dolores provident, quasi autem recusandae
            commodi enim perferendis culpa aspernatur esse quas earum officiis
            reprehenderit. Quasi, neque ullam aliquid officiis mollitia officia
            aperiam delectus ducimus eaque sit. Dolore autem iure et recusandae
            earum nam quos.
          </p>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </section>

    <section class="portfolio" id="portfolio">
      <h2 class="heading">Latest <span>Project</span></h2>
      <div class="portfolio-container">
        <div class="portfolio-box">
          <img src="" alt="img-profile-three" />
          <div class="portfolio-layer">
            <h4>Web Design</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis,
              provident.
            </p>
            <a href="#"><i class="bx bx-link-external"></i></a>
          </div>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <h2 class="heading">Contact <span>Me!</span></h2>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Full Name" />
          <input type="email" placeholder="Email Address" />
        </div>
        <div class="input-box">
          <input type="number" placeholder="Mobile Number" />
          <input type="email" placeholder="Email Subject" />
        </div>
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Your Message"
        ></textarea>
        <input type="submit" value="Send Message" class="btn" />
      </form>
    </section>

    <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; 2023 by Diego Lopez | All Rights Reserved</p>
      </div>
      <div class="footer-iconTop">
        <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
      </div>
    </footer>

    <script src="../assets/js/styles.js"></script>
    <script src="../assets/js/frameworks/boxicons.js"></script>
    <script src="../assets/js/frameworks/scrollreveal.min.js"></script>

    <script>
      // Changing the defaults
      window.sr = ScrollReveal({
        reset: true,
        distance: "80px",
        duration: 2000,
        delay: 200,
      });

      // Customizing a reveal set
      sr.reveal('.home-content, .heading', { origin: 'top' });
    </script>
  </body>
</html>
